* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #011826;
}

.screen-hidden {
  display: none;
}

.rotate {
  rotate: 90deg;
}

.game-intro-section {
  border: 2px solid yellow;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
