@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --ship-bg: "";
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif, system-ui, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  background-color: #011826;
}

.screen-hidden {
  display: none !important;
}

.disabled-btn {
  opacity: 0.4 !important;
}

.rotate {
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
}

.shipImg {
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(72%) sepia(57%) saturate(7189%) hue-rotate(172deg)
    brightness(101%) contrast(104%);
  z-index: 10;
}

.enemy-ship {
  filter: invert(51%) sepia(82%) saturate(505%) hue-rotate(345deg)
    brightness(92%) contrast(106%);
}

.game-intro-section,
.ship-placement-section,
.battle-section,
.gameover-section {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-name-container,
.ship-placement-container,
.gameover-container {
  width: 95%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.75);
}

.player-name-container label {
  padding: 10px 0;
}

.player-name-container input[type="text"] {
  padding: 7px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 1.2rem;
  width: 90%;
  text-align: center;
  border-radius: 4px;
}

.confirm-btn,
.orientation-btn,
.random-btn,
.reset-btn,
.proceed-btn,
.playagain-btn {
  margin: 10px 0;
  padding: 4px 20px;
  font-family: "Poppins";
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 5px;
  outline: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  border: none;
}

.ship-placement-container {
  max-width: 550px;
}

.player-board {
  width: 95%;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  background: rgb(2, 43, 67);
  background: radial-gradient(
    circle,
    rgba(2, 43, 67, 0.5) 0%,
    rgba(3, 66, 103, 0.5) 50%,
    rgba(0, 119, 173, 0.5) 100%
  );
}

.board-row {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.board-col {
  position: relative;
  border: 1px solid #57859d;
  aspect-ratio: 1/1;
}

.valid-hover {
  background-color: #86efac;
}

.invalid-hover {
  background-color: #f43f5e;
}

.cell-hit,
.cell-miss {
  cursor: not-allowed;
  pointer-events: none;
}

.current-vessel {
  margin: 0;
  padding: 5px;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

.vessel {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  filter: invert(72%) sepia(57%) saturate(7189%) hue-rotate(172deg)
    brightness(101%) contrast(104%);
}

.ship-actions,
.placement-actions {
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.vessel-container,
.placement-actions {
  padding: 15px 0;
}

.gameboard-container {
  width: 95%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.8rem;
  color: #ffffff;
}

.board-panel {
  width: 100%;
  display: grid;
  grid-template-rows: max-content max-content;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  font-size: 0.8rem;
  padding: 15px;
}

.panel-name {
  margin: 0;
  font-weight: 600;
}

.player-two-panel .player-board {
  background: rgb(67, 35, 2);
  background: radial-gradient(
    circle,
    rgba(67, 35, 2, 0.5) 0%,
    rgba(103, 51, 3, 0.5) 50%,
    rgba(173, 89, 0, 0.5) 100%
  );
}

.player-two-panel .player-board .board-col {
  border-color: #8f735b;
}

.player-one-panel > .panel-name {
  justify-self: flex-start;
  color: #e0f2fe;
}

.player-two-panel > .panel-name {
  justify-self: flex-end;
  color: #ffedd5;
}

.board-panel > .player-board {
  margin-top: 10px;
  width: 100%;
}

.board-focus {
  width: 60%;
}

.player-one-panel.board-focus {
  align-self: self-start;
}

.player-two-panel.board-focus {
  align-self: self-end;
}

.winner-announcement {
  margin: 0;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.gameover-phrase {
  max-width: 80%;
  padding: 15px;
  margin: 0;
  text-align: center;
  text-wrap: balance;
  font-size: 1rem;
}

.playagain-btn {
  margin: 15px;
}

.cell-hit::after,
.cell-miss::after {
  position: absolute;
  content: "";
  top: 25%;
  left: 25%;
  z-index: 1;
  width: 50%;
  height: 50%;
  border-radius: 100%;
  background-color: #dc2626;
}

.cell-miss::after {
  background-color: #cbd5e1;
}

@media (min-width: 800px) {
  .gameboard-container {
    max-width: 1400px;
    flex-direction: row;
    justify-content: space-between;
    gap: 100px;
  }

  .board-focus {
    width: 100%;
  }

  .board-panel {
    width: 40%;
  }

  .board-focus .player-board {
    opacity: 0.7;
  }

  .panel-name {
    font-size: 1.2rem;
  }
}
